@media (max-width: 1400px) {
    nav ul li a {
        font-size: 15px;
    }

    .footer__nav ul li a {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    nav ul li a {
        font-size: 10px;
        font-weight: 600;
        padding: 9px 16px;
    }

    .form-select {
        width: 286px;
    }

    .start_down button {
        width: 208px;
    }

    p.text {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    .descripsion__main h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .socials__ico img {
        width: 90%;
    }

    .cards {
        height: 50px;
    }

    .footer__nav ul li a {
        font-size: 10px;
        font-weight: 600;
        padding: 9px 16px;
    }

    .intro__desc {
        width: 70%;
    }

    .intro__content h1::before {
        right: 54px;
    }
    .intro__content-text {
        padding-left: 0;
        padding-right: 0;
    }
    .links {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    header span,
    header a {
        font-size: 14px;
    }

    header .login,
    header .live-chat {
        font-size: 12px;
    }

    header .login::after {
        width: 32px;
        height: 18px;
        margin-left: 4px;
    }

    header .live-chat::after {
        width: 32px;
        height: 18px;
        margin-left: 4px;
    }
    .select__menu {
        grid-template-columns: repeat(2, 1fr);
    }
    .features__box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    header {
        height: 44px;
    }

    header span,
    header a {
        font-size: 14px;
    }

    header .login,
    header .live-chat {
        font-size: 12px;
    }

    .acc__btns {
        display: none;
    }

    .tele__tab {
        margin: 0 auto;
    }

    .nav__tab {
        display: none;
    }

    .burger__menu-2 {
        display: flex;
    }

    .intro {
        background-position: 70% center;
    }
    .links {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .footer__nav-cont{

        display: none !important;

    }
}

@media (max-width: 650px) {
    .intro {
        background-image: none;
    }
    .intro__desc {
        width: 100%;
    }
    .select__menu {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .title__price {
        display: none;
    }
    .intro__content-btn {
        padding-left: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .features__box {
        grid-template-columns: repeat(1, 1fr);
    }
    .links {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}
