@import url(./settings.css);
@import url(./components/header.css);
@import url(./components/nav.css);
@import url(./components/footer.css);
@import url(./media.css);

.intro {
    background-image: url(../assets/img/main_bg_img_heder.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__desc {
    padding: 40px;
}

.intro__content {
    text-align: center;
    background-color: #caddea;
    margin-top: 20px;
    padding: 10px 24px;
}

.intro__content h1::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid #caddea;
    border-right: 30px solid transparent;
    position: relative;
    top: 85px;
    right: 50px;
}

.intro__content-text ul li::marker {
    color: var(--color_btn_send_message);
}

.intro__content-text {
    margin-top: 20px;
    padding-left: 36px;
    padding-right: 220px;
}

.intro__content-text h3 {
    padding-left: 40px;
}

.intro__content-text li {
    font-family: Arial-Narrow;
    font-size: 18px;
    line-height: 1.5;
}

.intro__content-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding-left: 76px;
    cursor: pointer;
    padding-top: 0;
}

.intro__content-btn button {
    font-family: Roboto-Bold;
    border: 2px solid #1b7fd0;
    background-color: transparent;
    color: #1b7fd0;
    width: 230px;
    height: 30px;

    &:hover {
        background-color: #1b7fd0;
        color: #ffffff;
        transition: 0.3s;
    }
}

.contact {
    background-image: url(../assets/img/main_bg_prise.png);
}

.contact__price {
    padding: 10px 10px;
    margin-top: 30px;
    margin-bottom: 14px;
    font-family: Roboto-Regular;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #caddea;
}

.off {
    font-size: 32px;
    color: #dd0000;
    padding-right: 6px;
}

.contact__price h2 {
    margin: 0;
}

.contact__price h2::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid #caddea;
    border-right: 30px solid transparent;
    position: relative;
    top: 71px;
    right: 10px;
}

.contact__price h4 {
    margin: 0;
}

.title__price {
    position: relative;
    padding-left: 62px;

    &::after {
        content: '';
        position: absolute;
        width: 58px;
        height: 58px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-image: url(../assets/img/Arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.form-select {
    width: 330px;
    color: #212529;
    background-color: #caddea;

}

.select__menu {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    padding-bottom: 40px;
}

.select__menu-start,
.select__menu-medium,
.select__menu-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start_up {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
}

.start_down-text {
    display: flex;
    align-items: baseline;
    gap: 8px;
    text-transform: uppercase;
}

.select__menu-price {
    margin: 0;
    color: #caddea;
}

.price-span {
    color: #caddea;
    font-size: 48px;
}

.usd {
    color: #caddea;
    font-size: 20px;
}

.start_up p {
    margin-bottom: 6px;
    color: #caddea;
    text-transform: uppercase;
}

.start_down p {
    margin-bottom: 6px;
    color: #caddea;
    text-transform: uppercase;
}

.start_down-text p {
    color: #caddea;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;

}

.start_down button {
    width: 310px;
    height: 40px;
    color: #caddea;
    background-color: #dd0000;
    position: relative;
    z-index: 2;
    border: none;

    &:hover {
        background-color: #a40000;
    }

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 30px solid #dd0000;
        border-right: 30px solid transparent;
        position: absolute;
        top: 80%;
        left: 0;
        z-index: 1;
    }

    &:hover::before {
        border-top-color: #a40000;
    }
}

.descripsion {
    background-image: url(../assets/img/how_it_works_bg.png);
}

.descripsion__main {
    margin-bottom: 40px;
}

.descripsion__main h2 {
    background-color: #caddea;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
}


.descripsion__main h2::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid #caddea;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -26px;
    left: 0;
}

.description__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    color: #1b7fd0;
}

.card-text {
    text-align: justify;
}

.card-text,
.card-body ul li {
    font-family: Arial-Narrow;
}

.card-body .btn {
    background-color: #1b7fd0;
    color: #ffffff;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0;
    font-size: 0.85rem;
    transition: 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        background-color: #ffffff;
        color: #1b7fd0;
        border: 2px solid #1b7fd0;
    }
}

p,
.card-body ul li {
    font-family: Arial-Narrow;
    font-size: 18px;
}

.card-title {
    text-transform: uppercase;
}

.hover__card:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    transition: box-shadow 0.3s ease;
    box-shadow: 0 34px 20px rgba(0, 0, 0, 0.3);
    position: relative;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 30px solid #ffffff;
        border-right: 30px solid transparent;
        position: absolute;
        bottom: -28px;
        left: 0;
        transition: box-shadow 0.3s ease;
    }
}

.img__wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

.img__wrap img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    width: 150px;
    height: 150px;
}

.default__img {
    opacity: 1;
    z-index: 1;
}

.hover__img {
    opacity: 0;
    z-index: 2;
}

.hover__card:hover .default__img {
    opacity: 0;
}

.hover__card:hover .hover__img {
    opacity: 1;
}

.features {
    background-image: url(../assets/img/main_bg_prise.png);
}

.descripsion__text {
    position: relative;
    top: -20px;
}

.descripsion__text p {
    color: #caddea;
    font-family: Arial-Narrow;
    font-size: 24px;
    text-align: center;
    letter-spacing: 4px;
}

.features__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.feature__desc h5 {
    background-color: #ffffff;
    color: #1b7fd0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Roboto-Bold;
    font-weight: bold;
}

.feature__desc p {
    color: #ffffff;
    font-family: Arial-Narrow;
    font-size: 22px;
    padding: 4px 0;
}

.line {
    border: 2px solid #ffffff;
}

.works {
    margin-top: 20px;
    background-image: url(../assets/img/how_it_works_bg.png);
}

.works__desc-text {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 30px;
    border-bottom: 2px solid #caddea;
}

.works__desc-text p {
    font-size: 60px;
    font-family: Roboto-Bold;
    font-weight: bold;
    margin: 0;
    color: #caddea;
    flex-shrink: 0;
    width: 30px;
    text-align: center;
}

.works__desc-text h4 {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    transition: color 0.3s ease;
    flex: 1;
}

/* .gray__line {
    height: 2px;
    background-color: #ccc;
    margin-top: 8px;
} */

.works__desc-text:hover {
    background-color: #075da2;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 0px;
        height: 0px;
        border-top: 41px solid transparent;
        border-left: 60px solid #075da2;
        border-bottom: 50px solid transparent;
        left: 100%;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

.works__desc-text:hover p,
.works__desc-text:hover h4 {
    color: #ffffff;
}

/* Тимчасово */
.test {
    width: 300px;
    height: 400px;
    /* background-color: #ffffff; */
    background-color: red;
}

.works__content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}


.tab-content {
    width: 50%;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.tab-text {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    background: white;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}
.tab-text .icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 20px;
}
.works__desc-text:nth-child(1):hover ~ .tab-content .text-1,
.works__desc-text:nth-child(2):hover ~ .tab-content .text-2,
.works__desc-text:nth-child(3):hover ~ .tab-content .text-3,
.works__desc-text:nth-child(4):hover ~ .tab-content .text-4,
.works__desc-text:nth-child(5):hover ~ .tab-content .text-5,
.works__desc-text:nth-child(6):hover ~ .tab-content .text-6 {
    display: block;
}

.tab-content .text-1 {
    display: block;
}

.works__content:hover .tab-content .tab-text {
    display: none;
}

.works__desc{
    position: relative;
    width: 100%;
}

.order__button {
    margin: 50px 0;
    text-align: center;
}

.order__button button {
    width: 310px;
    height: 40px;
    color: #caddea;
    background-color: #dd0000;
    position: relative;
    z-index: 2;
    border: none;

    &:hover {
        background-color: #a40000;
    }

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 30px solid #dd0000;
        border-right: 30px solid transparent;
        position: absolute;
        top: 80%;
        left: 0;
        z-index: 1;
    }

    &:hover::before {
        border-top-color: #a40000;
    }
}

.cards {
    background-color: var(--color_btn_send_message_hover);
    height: 70px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

.banks {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 18px;
    width: 30px;
    height: 100%;
}

.socials__ico {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.socials__ico img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.default__img {
    opacity: 1;
    z-index: 1;
}

.hover__img {
    opacity: 0;
    z-index: 2;
}

.socials__ico:hover .default__img {
    opacity: 0;
}

.socials__ico:hover .hover__img {
    opacity: 1;
}