header {
    background-color: var(--color_main_2);
    background-image: url(../../assets/img/heder_bg_top.png);
    height: 56px;
}

header span, header a {
    font-size: 20px;
    color: #85a1b7;
    font-weight: 250;
    font-family: Roboto-Regular;
}

header a {
    color: #caddea;
    text-decoration: none;
}

.login, .live-chat {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto-Regular;

    &:hover{
        color: var(--color_btn_text_hover);
    }
}

.login::after {
    content: '';
    display: inline-block;
    background-image: url(../../assets/img/Login.svg);
    width: 50px;
    height: 28px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.live-chat::after {
    content: '';
    display: inline-block;
    background-image: url(../../assets/img/Chat.svg);
    width: 50px;
    height: 28px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.login:hover::after {
    background-image: url(../../assets/img/Login2.svg);
}

.live-chat:hover::after {
    background-image: url(../../assets/img/Chat2.svg);
}

.acc__btns {
    display: flex;
    justify-content: space-evenly;
}

.mobile__logo {
    width: 180px;
    height: 100%;
}

.burger__menu {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.burger__menu span {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}